### APP metadata
APP_TITLE=DMS PROJECT
APP_DESCRIPTION=A FastAPI boilerplate for CRUD operations
APP_VERSION=0.1.beta

### JWT secret keys
JWT_SECRET_KEY=your-secret-key-from-openssl
JWT_ALGORITHM=HS256
JWT_EXPIRES=30

### DB secret keys
SQL_TYPE=sql_lite # sql_lite | postgre_sql
SQL_USER=user
SQL_PWD=password
SQL_SERVER=postgresserver
SQL_PORT=5432
SQL_DB=db
SQL_DB_URL=postgresql://${SQL_USER}:${SQL_PWD}@${SQL_SERVER}:${SQL_PORT}/${SQL_DB}
SQLITE_DB_NAME=sql_app.db
SQLITE_DB_URL=sqlite:///./${SQLITE_DB_NAME}
SQLITE_DB_URL_ALEMBIC=sqlite:///${SQLITE_DB_NAME}

FIRST_SUPERUSER=user@example.com
FIRST_SUPERUSER_PASSWORD=123456
